# ~/.gitconfig
[core]
  excludesfile = ~/.gitignore      # valid everywhere
  pager = less
  editor = vim

[diff]
  tool = meld
  colorMoved =  zebra

[merge]
  tool = meld

[includeIf "gitdir:~/repos/github.com/qwertimer/"]
path = ~/repos/github.com/qwertimer/.gitconfig-pers
 
[includeIf "gitdir:~/repos/github.com/tim-flux/"]
path = ~/repos/github.com/tim-flux/.gitconfig-work
